<div class='movies col-4'>
   <h3>Movies to Watch</h3>
   <ol>
      <li *ngFor ="let movie of movies">{{movie}}</li>
   </ol>
   <hr>
   <input #newMovie (keyup.enter)='message = addMovie(newMovie.value); newMovie.value = ""' type='text' placeholder='Enter Movie Title Here'/>
   <button (click)='message = addMovie(newMovie.value); newMovie.value = ""'>Add</button>
   <!-- <p *ngIf = 'newMovie.value === "" || movies.includes(newMovie)'>Error</p> -->
   <p class = 'errorMsg' *ngIf = 'message !== ""'>{{message}}</p>
</div>